<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Explore a curated showcase of artistic mastery, offering: Commercial Art by J.L. Christian Where creativity meets strategy— J.L. Christian specializes in branding, campaigns, and custom designs that bring ideas to life. With a focus on impactful visuals and innovative solutions, each project is tailored to tell a story.">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/syntax.css">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <link rel="icon" href="assets/img/favicon.ico" sizes="any">
    <link rel="icon" href="assets/img/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="assets/images/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="assets/images/favicon-96x96.png" sizes="96x96" type="image/png">
  
    <title>
      {% if page.tag or page.title %}
        {% if page.tag %}
          {{ page.tag | escape }}
        {% else %}
          {{ page.title | escape }}
        {% endif %}
        -
      {% endif %}
      {% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}
        Page {{ paginator.page }} of {{ paginator.total_pages }} -
      {% endif %}
      {{ site.title | escape }}
      {% unless page.tag or page.title %}
        - {{ site.description | escape }}
      {% endunless %}
    </title>
  

    <!-- HTML Meta Tags -->
<title> Portfolio - J.L. Christian - Portfolio. </title>
<meta name="description" content="Explore a curated showcase of artistic mastery, offering: Commercial Art by J.L. Christian Where creativity meets strategy— J.L. Christian specializes in branding, campaigns, and custom designs that bring ideas to life. With a focus on impactful visuals and innovative solutions, each project is tailored to tell a story.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://jlchristian.com">
<meta property="og:type" content="website">
<meta property="og:title" content=" Portfolio - J.L. Christian - Portfolio. Explore a curated showcase of artistic mastery, offering: Commercial Art by J.L. Christian Where creativity meets strategy— J.L. Christian specializes in branding, campaigns, and custom designs that bring ideas to life. With a focus on impactful visuals and innovative solutions, each project is tailored to tell a story.">
<meta property="og:description" content="Explore a curated showcase of artistic mastery, offering: Commercial Art by J.L. Christian Where creativity meets strategy— J.L. Christian specializes in branding, campaigns, and custom designs that bring ideas to life. With a focus on impactful visuals and innovative solutions, each project is tailored to tell a story.">
<meta property="og:image" content="https://opengraph.b-cdn.net/production/images/75511ca5-d7df-4849-9d90-52cf509b48a5.png?token=_ZVbfCrlP6zux5rwXMt5kKpzJ0Zb2sfL47zAc-gv3BU&height=500&width=500&expires=33271796109">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="jlchristian.com">
<meta property="twitter:url" content="https://jlchristian.com">
<meta name="twitter:title" content=" Portfolio - J.L. Christian - Portfolio. Explore a curated showcase of artistic mastery, offering: Commercial Art by J.L. Christian Where creativity meets strategy— J.L. Christian specializes in branding, campaigns, and custom designs that bring ideas to life. With a focus on impactful visuals and innovative solutions, each project is tailored to tell a story.">
<meta name="twitter:description" content="Explore a curated showcase of artistic mastery, offering: Commercial Art by J.L. Christian Where creativity meets strategy— J.L. Christian specializes in branding, campaigns, and custom designs that bring ideas to life. With a focus on impactful visuals and innovative solutions, each project is tailored to tell a story.">
<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/75511ca5-d7df-4849-9d90-52cf509b48a5.png?token=_ZVbfCrlP6zux5rwXMt5kKpzJ0Zb2sfL47zAc-gv3BU&height=500&width=500&expires=33271796109">

<!-- Meta Tags
